* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.root {
  height: 100vh;
}

.container-style {
  margin: 0px;
  padding: 40px 30px;
  max-width: 600px;
  min-height: 80vh;
}

@media (min-width: 600px) {
  .container-style {
    margin: 0 auto;
  }
}
